.Header {
    /* Text */
    color: #000;

    /* Placement */
    margin-top: 10em;
    text-align: center;
    

}
    
h1 {
    font-size: 4rem;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}